:root {
    --darkness: #0e0e0f;
    --background: #051e3e;
    --contrast: #251e3e;
    --redone: #451e3e;
    --redtwo: #651e3e;
    --primary: #851e3e;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background: transparent;
    display: flex;
    overflow-y: hidden;
    height: 400px;
}

.content {
    width: 98%;
    margin: 2%;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--redone);
    border-radius: 20px;
    background: var(--contrast);
    box-shadow: inset 0 5px 10px black;
}

.content h1 {
    font-size: 1.3rem;
    margin: 5px auto;
    color: #FFF;
    font-weight: 500;
}


.content ul {
    margin: 0px 5%;
    padding: 0;
    list-style-type: none;
    overflow-y: scroll;
}

.content ul::-webkit-scrollbar {
    width: 4px;
    background: var(--background);
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .8);
}

.content ul::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 8px;
    box-shadow: 0 3px 10px black;
}

.content .list-item {
    position: relative;
    width: 94%;
    height: 60px;
    border: 2px solid var(--primary);
    background: var(--background);
    margin: 5px auto;
    border-radius: 5px;
    padding: 2px 5px 2px 40px;
    color: #FFF;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .8);
}

.content .list-item:nth-of-type(1) {
    width: 100%;
    border-color: #FFD700;
}

.content .list-item:nth-of-type(1) h2 {
    font-size: 1.1rem;
    color: #FFD700;
}

.content .list-item:nth-of-type(2) {
    width: 98%;
    border-color: #c0c0c0;
}

.content .list-item:nth-of-type(2) h2 {
    font-size: 1rem;
    color: #e9e9e9;
}

.content .list-item:nth-of-type(3) {
    width: 96%;
    border-color: #cd7f32;
}

.content .list-item:nth-of-type(3) h2 {
    font-size: 1rem;
    color: #cd7f32;
}

.content .list-item h2 {
    font-size: .9rem;
    font-weight: 600;
    margin: 5px 0;
}

.content .list-item .game-price {
    color: #0F0;
    position: absolute;
    top: 5px; 
    right: 5px;
}

.content .list-item .savings {
    color: #F00;
    font-size: 1.3rem;
    position: absolute;
    bottom: 5px; 
    right: 5px;
}

.content .list-item .deal-rating {
    font-size: .7rem;
    position: absolute;
    bottom: 5px;
    left: 40px;
}

.content .list-item .store-img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 10px;
}

/* Dropdown*/
.container {
    margin: 5px 16px;
    display: flex;
}

.select-box {
    display:flex;
    width: 75%;
    flex-direction: column;
}

.select-box .options-container {
    background: var(--redone);
    color: #FFF;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: all .4s;
    border-radius: 5px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: var(--background);
    border: 2px solid var(--primary);
    border-radius: 8px;
    margin-bottom: 8px;
    color: #FFF;
    position: relative;
    box-shadow: 0 5px 5px black;

    order: 0;
}

.selected::after {
    content: '';
    background: url(chevron-down-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 15px;
    right: 10px;
    top: 5px;

    transition: all .4s;
}

.select-box .options-container.active {
    height: 162px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -5px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 5px;
    background: var(--background);
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 3px 6px;
    cursor: pointer;
}

.select-box .option:hover {
    background: var(--redtwo);
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

/* Dropdown Pages */

.select-box-page {
    display: flex;
    width: 25%;
    flex-direction: column;
}

.select-box-page .options-container-page {
    background: var(--redone);
    color: #FFF;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: all .4s;
    border-radius: 5px;
    overflow: hidden;

    order: 1;
}

.selected-page {
    background: var(--background);
    border: 2px solid var(--primary);
    border-radius: 8px;
    margin-bottom: 8px;
    color: #FFF;
    position: relative;
    box-shadow: 0 5px 5px black;

    order: 0;
}

.selected-page::after {
    content: '';
    background: url(chevron-down-solid.svg);
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 15px;
    right: 10px;
    top: 5px;

    transition: all .4s;
}

.select-box-page .options-container-page.active {
    height: 81px;
    opacity: 1;
}

.select-box-page .options-container-page.active + .selected-page::after {
    transform: rotateX(180deg);
    top: -5px;
}

.select-box-page .option-page,
.selected-page {
    padding: 3px 6px;
    cursor: pointer;
}

.select-box-page .option-page:hover {
    background: var(--redtwo);
}

.select-box-page label {
    cursor: pointer;
}

.select-box-page .option-page .radio {
    display: none;
}

/* Attribution */
.attribution {
    margin: 2px auto;
    color: white;
    font-size: .6rem;
}

.attribution a:link{
    color: #FFF;
}

.attribution a:active{
    color: #FFF;
}

.attribution a:visited{
    color: #FFF;
}

.attribution a:hover{
    color: #f72585;
}

/* loader */
.loader {
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}

.loader span {
    margin: 2px 8px;
    width: 1rem;
    height: 1rem;
    text-shadow: 0px 0px 20px rgba(247,37,133,.8);
    animation: loader .8s infinite;
}

@keyframes loader {
    50% {
        margin-bottom: 20px;
    }
}

.loader span:nth-child(1) {
    animation-delay: -0.4s;
}

.loader span:nth-child(2) {
    animation-delay: -0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0s;
}